* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    color: black;
    border-bottom: darkslategrey 2px solid;
    background-color: white;
    box-shadow: darkslategrey .5rem .5rem 1rem;
}

.nav-top-level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 2rem;
    background-color: darkslategrey;
    color: white;
    font-family: sans-serif;
}

.nav-top-level h2 {
    font-size: 1rem;
}

.logo {
    text-transform: uppercase;
}

nav ul {
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px gray solid;
    border-top: 1px gray solid;
    height: 2rem;
    background-color: darkseagreen;
}

nav li {
    height: 100%;
    display: flex;
    align-items: center;
    transition: .3s;
}

nav li:hover {
    background-color: gold;
    transform: scale(1.05);
}

.nav-link {
    color: black;
    text-decoration: none;
    padding: 0 .5rem 0 .5rem;
}

li:not(:last-of-type) {
    /*margin-right: 1rem;*/
    border-right: gray 1px solid;
}

body {
    background-color: #dae2d9;
}

.global-wrapper-row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.global-wrapper-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usuarios {
    display: flex;
    justify-content: center;
    background-color: darkseagreen;
    border-right: darkslategrey 2px solid;
}

nav ul {
    list-style: none;
    text-transform: uppercase;
}

.noticia {
    margin-bottom: 5rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: darkslategrey .5rem .5rem 1rem;
    padding-bottom: 1rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.noticia:first-of-type {
    margin-top: 2rem;
}

.noticia h2 {
    background-color: darkslategrey;
    color: white;
    padding: 1rem 1.5rem .5rem;
}

.noticia input[type=button] {
    margin-left: 2rem;
}

.noticia input[type=submit] {
    margin-left: 2rem;
}

.formulario {
    margin: 2rem auto;

}

.info span:not(:last-of-type) {
    margin-right: 2rem;
}

.titulo {
    text-transform: uppercase;
}

.info {
    text-align: right;
    font-size: .7rem;
    margin: 0 0 1rem;
    background-color: #b3cab3;
    padding: .2rem 1rem;
    color: darkslategrey;
}

.contenido {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 0 2rem;
}

.form-item:not(:last-of-type) {
    margin-bottom: 1.5rem;
}

label {
    margin-left: 2rem;
}

input[type='text'],
input[type='number'],
input[type='date'],
input[type='email'],
input[type='password'] {
    margin-top: .5rem;
    width: 30rem;
    height: 2rem;
    border-radius: 5px;
    padding: .5rem 1rem;
}

#textarea_editor {
    margin-top: .5rem;
    width: 30rem;
    height: 10rem;
    border-radius: 5px;
    padding: .5rem 1rem;
}

.button {
    padding: .5rem .7rem;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
}

.formulario .button {
    margin-top: 2rem;
}

.noticia .buttons {
    display: flex;
    justify-content: space-evenly;
}

.button-green {
    background-color: darkseagreen;
}

.button-blue {
    background-color: darkslategrey;
}

.button-red {
    background-color: palevioletred;
}

.button-small {
    transform: scale(.6);
}

.button a {
    color: black;
    text-decoration: none;
}

.button a:active {
    color: black;
    text-underline: none;
}

.usuario-view .formulario {
    margin: 0;
}

.usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.usuario:first-of-type {
    margin-top: 1rem;
}

.usuario:not(:last-of-type) {
    margin-bottom: 2rem;
}

.usuario_completo {
    margin-top: 1rem;
    margin-left: 5rem;
}

.usuario-info {
    display: flex;
    flex-direction: row;
}

.usuario_completo .usuario-info {
    padding: .5rem;
}

.usuario_completo :not(:last-of-type) {
    margin-bottom: .5rem;
}

.usuario_completo .usuario-info:nth-child(even) {
    background-color: darkslategrey;
    color: white;
}

.usuario_completo input[type=submit] {
    margin-top: 1rem;
    margin-left: 4rem;
}

.usuario_enunciado {
    display: block;
    width: 10rem;
    text-align: center;
}

.usuario-form {
    margin-top: 1rem;
}

.usuario-form input[type=submit] {
    margin-top: 1rem;
    margin-left: 10rem;
}



